<form class=" well form-horizontal" action=" " method="post" style="padding-left: 10px; min-height: 610px; border:4px; border-bottom-left-radius: 10; color:black;">

    <div style="float: right;top:5.1%; right: 9%; position:absolute; width: 34%;">
        <div class="form-horizontal">

            <div class="col-md-3">
                <button class="btn btn-warning" (click)="onback()"><span style="padding-right: 7px" class="glyphicon glyphicon-circle-arrow-left " ></span>  BACK</button>
            </div>
        </div>
        <div class="form-horizontal">

            <div class="col-md-1">
                <button class="btn btn-warning" (click)="onedit()"> <span style="padding-right: 7px" class="glyphicon glyphicon-edit " ></span>  EDIT</button>
            </div>
        </div>
    </div>
    <!-- Form Name -->
    <legend>Car Info</legend>


    <!-- Text input-->
    <div class="form-group">
        <div class=" form-horizontal">

            <div class="col-md-5 control-label ">
                <div class="label-info">

                    <label class="form-control "> PLATE NO : {{datas.plateno}}</label>
                </div>
            </div>
        </div>

        <div class="form-horizontal">

            <div class="col-md-5 control-label">
                <div class="label-info">

                    <label class="form-control" name="model">MODEL/TYPE: {{datas.model}}</label>
                </div>
            </div>
        </div>



    </div>

    <legend>Owner Details</legend>

    <!-- Text input-->
    <div class="form-group">
        <div class=" form-horizontal">

            <div class="col-md-5 control-label ">
                <div class="label-info">

                    <label class="form-control">OWNER NAME: {{datas.owner}}</label>
                </div>
            </div>
        </div>
        <div class=" form-horizontal">

            <div class="col-md-5 control-label ">
                <div class="label-info">

                    <label class="form-control "> LICENCE TYPE :{{datas.owner}}</label>
                </div>
            </div>
        </div>
        <div class=" form-horizontal">

            <div class="col-md-5 control-label ">
                <div class="label-info">

                    <label class="form-control "> MOBILE :{{datas.owner}}</label>
                </div>
            </div>
        </div>

        <div class="form-horizontal">

            <div class="col-md-5 control-label">
                <div class="label-info">
                    <label class="form-control">LICENCE NUMBER : {{datas.model}}</label>
                </div>
            </div>
        </div>

        <div class="form-horizontal">

            <div class="col-md-5 control-label">
                <div class="label-info">
                    <label class="form-control">ADDRESS : {{datas.model}}</label>
                </div>
            </div>
        </div>
        <div class="form-horizontal">

            <div class="col-md-5 control-label">
                <div class="label-info">
                    <label class="form-control">LICENCE NUMBER : {{datas.model}}</label>
                </div>
            </div>
        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">

                <div class="col-md-4">
                    <button type="submit" class="btn btn-warning">UNPARK <span class="glyphicon glyphicon-circle-arrow-left" ></span></button>
                </div>
            </div>
        </div>
    </div>
</form>